@media (max-width: 768px) {
    p {
        max-width: 65ch;
    }

    .card {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1.4fr auto;
    }
    .content {
        &_leftSide {
            border-top-right-radius: inherit;
            border-bottom-left-radius: initial;
        }
    }
    .social-share {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .social-share_mobile {
        display: none !important;
    }
}
