@import "cdns";
@import "variables";

// Reset
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: $VeryDarkGrayishBlue;
    background-color: $LightGrayishBlue;
    display: grid;
    place-content: center;
}

.card {
    background-color: $white;
    overflow: hidden;
    max-width: max(900px, 50dvw);
}

.content {
    &_rightSide {
        padding: 3rem;
    }
}

.profile {
    h6 {
        color: $GrayishBlue;
    }
}

 p {
    color: $DesaturatedDarkBlue;
}