@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100dvh;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: hsl(217deg, 19%, 35%);
  background-color: hsl(210deg, 46%, 95%);
  display: grid;
  place-content: center;
  line-height: 1.5;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  max-width: min(90dvw, 900px);
  border-radius: 20px;
  box-shadow: 18px 25px 40px -10px rgba(176, 176, 176, 0.2196078431);
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  position: relative;
}

.social-share_mobile, .content_footer .social-share {
  background-color: hsl(217deg, 19%, 35%);
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.8ch;
}
.social-share_mobile img, .content_footer .social-share img {
  width: auto;
  cursor: pointer;
}

.content_leftSide {
  background-image: url("../image/drawers.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}
.content_rightSide {
  padding: 2rem;
}
.content_rightSide p {
  margin-block: 0.8rem;
}
.content_rightSide button {
  border: none;
  background-color: hsl(210deg, 46%, 95%);
  padding: 0.7em;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 100;
}
.content_rightSide button:hover, .content_rightSide button:focus, .content_rightSide button:active {
  background-color: hsl(214deg, 17%, 51%);
}
.content_rightSide button:hover path, .content_rightSide button:focus path, .content_rightSide button:active path {
  fill: hsl(210deg, 46%, 95%);
}
.content_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.content_footer .profile {
  display: flex;
  align-items: center;
}
.content_footer .profile::before {
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../image/avatar-michelle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 1rem;
}
.content_footer .social-share {
  position: absolute;
  right: -23.6%;
  top: -4.5rem;
  padding: 0.2rem 2rem;
  box-shadow: 2px 5px 18px -5px rgba(72, 85, 106, 0.5411764706);
  border-radius: 10px;
  display: none;
  opacity: 0;
}
.content_footer .social-share::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -11px;
  border-width: 11px;
  border-style: solid;
  border-color: hsl(217deg, 19%, 35%) transparent transparent transparent;
}

.social-share_mobile {
  min-height: 4.5rem;
  padding: 2.1rem 2rem;
  flex-wrap: wrap;
  display: none;
  bottom: -25%;
  z-index: 90;
  position: absolute;
  width: 100%;
}

h6,
p {
  color: hsl(212deg, 23%, 69%);
  max-width: 45ch;
}

@media (max-width: 768px) {
  p {
    max-width: 65ch;
  }
  .card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1.4fr auto;
    overflow: hidden;
  }
  .content_leftSide {
    border-radius: 0;
  }
  .content_rightSide {
    padding-bottom: 1.5rem;
  }
  .content_rightSide button:hover, .content_rightSide button:focus, .content_rightSide button:active {
    background-color: hsl(212deg, 23%, 69%);
  }
  .content_rightSide button:hover path, .content_rightSide button:focus path, .content_rightSide button:active path {
    fill: hsl(210deg, 46%, 95%);
  }
  .social-share {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .social-share_mobile {
    display: none !important;
  }
}/*# sourceMappingURL=main.css.map */