@import "cdns";
@import "variables";

// Reset
body {
    margin: 0;
    padding: 0;
    height: 100dvh;
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Custom styles

body {
    font-family: "Manrope", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: $VeryDarkGrayishBlue;
    background-color: $LightGrayishBlue;
    display: grid;
    place-content: center;
    line-height: 1.5;
}

.card {
    background-color: $white;
    max-width: min(90dvw, 900px);
    border-radius: 20px;
    box-shadow: 18px 25px 40px -10px #b0b0b038;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}

%share-shared {
    background-color: $VeryDarkGrayishBlue;
    display: flex;
    align-items: center;
    gap: 1rem;
    letter-spacing: 0.8ch;
    img {
        width: auto;
        cursor: pointer;
    }
}
// for content, and share in mobile mode
$padding: 3rem;

.content {
    &_leftSide {
        background-image: url("../image/drawers.jpg");
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: inherit;
        border-top-left-radius: inherit;
    }

    &_rightSide {
        padding: $padding;

        p {
            margin-block: 0.8rem;
        }

        button {
            border: none;
            background-color: $LightGrayishBlue;
            padding: 0.7em;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            cursor: pointer;

            &:hover,
            &:focus,
            &:active {
                background-color: $DesaturatedDarkBlue;
                path {
                    fill: $LightGrayishBlue;
                }
            }
        }
    }

    &_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .profile {
            display: flex;
            align-items: center;
            &::before {
                content: "";
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-image: url("../image/avatar-michelle.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                margin-right: 1rem;
            }
        }

        .social-share {
            position: absolute;
            @extend %share-shared;
            right: -25.5%;
            top: -4.5rem;
            padding: 0.2rem 2rem;
            box-shadow: 2px 5px 18px -5px #48556a8a;
            border-radius: 10px;
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                $size: 11px;
                margin-left: -$size;
                border-width: $size;
                border-style: solid;
                border-color: $VeryDarkGrayishBlue transparent transparent transparent;
            }
        }
    }
}

.social-share_mobile {
    @extend %share-shared;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    min-height: 4.5rem;
    padding: 0.5rem $padding;
    flex-wrap: wrap;

    .btn {
        margin-left: auto;
        background-color: $GrayishBlue;
        padding: 0.5em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        width: 35px;
        aspect-ratio: 1;
        svg {
            path {
                fill: $LightGrayishBlue;
            }
            margin-top: 17%;
        }
    }
}

h6,
p {
    color: $GrayishBlue;
    max-width: 45ch;
}

@import "media";
